.form-container {
    display: flex;
}
input{
    margin: 20px;
}
.input-file{
    float: left;
}
.addProduct-btn{
    height: fit-content;
    width: fit-content;
    padding: 3vh;
    background-color: #f6a;
    color: white;
    border-radius: 2vh;
}