body{
    width: 100%;
    height: 100%;
}
nav{
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.productos{
    text-align: center;
}
.carrito{
    margin-left: auto;
}
.home{
    margin-right: auto;
    font-size: xx-large;
    font-weight: 550;
    color: #f6a;
}